.nav-style{
    display: block;
    width: 100%;
    height: 30px;
    background-color: #cbcbcb;
}
.cityName {
    position: absolute;
    /*background-color: #fff6e6;*/
    top: 50%;
    left: 50%;
    text-align: center;
}
